*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
.wrapper {
  background-color: rgb(34, 34, 34);
  font-family: 'Roboto', sans-serif;
}

.settings {
  position: absolute;
  width: 196px;
  display: flex;
  flex-wrap: wrap;
}

.settings__button {
  width: 64px;
  height: 64px;
  background-color: #ffcc00;
  background-image: url('img/gear.svg');
  background-size: 64px;
}

.settings__restart {
  width: 64px;
  height: 64px;
  background-color: #cc2f2f;
  background-image: url('img/restart.svg');
  background-size: 64px;
}

.settings__body {
  height: 128px;
  width: 196px;
  background-color: #ffcc00;
  padding: 10px;
}

.settings__body--hidden {
  display: none;
}

.game {
  min-height: 100vh;
  max-height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px 1fr;
  width: 100%;
}

.game__name {
  font-size: 72px;
  color: rgb(187, 26, 26);
}

.code-input {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.code-input__number {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.number__button {
  height: 46px;
  width: 72px;
}

.number__button--increase {
  background-image: url('img/inc.png');
  background-color: rgba(0, 0, 0, 0);
  background-size: 100%;
}

.number__button--decrease {
  background-image: url('img/dec.png');
  background-color: rgba(0, 0, 0, 0);
  background-size: 100%;
}

.number__value {
  width: 72px;
  font-size: 96px;
  text-align: center;
  color: #f5f5f5;
}

.guess {
  background-color: rgb(252, 252, 16);
  border: 3px solid rgb(59, 59, 59);
  border-radius: 16px;
  font-size: 48px;
  color: rgb(27, 27, 27);
  height: 66px;
  width: 250px;
}

.tips {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tip {
  display: flex;
  flex-direction: column;
  background-image: url('img/note.png');
  background-size: 180px;
  height: 180px;
  width: 180px;
}

.tip__header {
  font-size: 28px;
  color: #1f1f1f;
  margin-top: 30px;
  text-align: center;
}

.tip__text {
  color: #1f1f1f;
  width: 150px;
  margin-top: 5px;
  margin-left: 10px;
}
